<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h3>Clientes</h3>
      <button (click)="Nuevo()" class="btn btn-info" style="margin-left:10px;">Nuevo</button>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th>Documento</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>Fecha Nacimiento</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes" class="text-center">
            <td>{{cliente.documento}}</td>
            <td>{{cliente.nombre}}</td>
            <td>{{cliente.apellido}}</td>
            <td>{{cliente.telefono}}</td>
            <td>{{cliente.email}}</td>
            <td>{{cliente.fechaNacimiento | date:"dd-MM-yyyy"}}</td>
            <td>
              <button (click)="Editar(cliente)" class="btn btn-warning">Editar</button>
              <button (click)="Delete(cliente)" class="btn btn-danger" style="margin-left:10px;">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
